client/node_modules/
client/private/
server/build/
server/dist/
server/node_modules/
server/nsfwjs/
server/private/
server/runtime/
server/Ethereal
server/IMAP
server/Pending
server/Project
**/Thumbs.db
